<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Products</h4>
                    <!-- Add Product Button -->
                    <button class="btn btn-primary" (click)="addProduct()">
                        <i class="fa fa-plus"></i> Add new
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Product ID</th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>Capacity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products" class="align-middle" >
                                <td>{{product.id}}</td>
                                <td>{{product.name}}</td>
                                <td>{{product.data?.capacity || 'NA'}}</td>
                                <td>{{product.data?.color || 'NA'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
